target/
gen/
*.class
*.log
.cache/
.history/
.lib/
dist/*
lib_managed/
src_managed/
project/boot/
project/project/
project/plugins/project/
.scala_dependencies
.worksheet
.bloop
.bsp/
.idea
out
.metals
project/metals.sbt
bin/
.classpath
.project
.settings
.cache-main
